* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(62deg, #1f3953 0%, #181719 100%);
    color: linen;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

h1 {
    text-align: center;
    color: rgb(0, 217, 255);
    padding: 10px;
}

.infos {
    border: 2px solid black;
    width: 400px;
    height: 300px;
    margin: 50px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 40px;
    background-color: #1f3953;
    border-radius: 5px;
}

.logo img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    padding: 20px 0 0 30px;
}

.subject {
    font-weight: bold;
    display: inline-block;
    width: 50%;
    color: rgb(5, 97, 163);
}

.object {
    text-align: right;
    display: inline-block;
    text-align: right;
}

hr {
    border: 1px solid black;
    width: 90%;
    margin: 20px auto;
}

.contacts {
    padding: 10px 0 10px 30px;
    color: #3495f6;
    font-weight: 700;
}

.contact {
    display: inline-block;
    margin: 10px 8px 0 0;
}