* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.infos {
    border: 2px solid black;
    width: 400px;
    height: 300px;
    margin: 50px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.info {
    padding: 20px 0 0 20px;
}

.subject {
    font-weight: bold;
    display: inline-block;
    width: 50%;
}

.object {
    text-align: right;
    display: inline-block;
    text-align: right;
}